@page "/"
@rendermode InteractiveServer
@using TicTacToe

<PageTitle>TicTacToe</PageTitle>

<h1>Welcome!</h1>

@if (_game.GameState != Winner.None)
{
    <h2 style="font-weight: bold">Winner: @_game.GameState</h2>
    <button @onclick="_ => _game = new()">Restart</button>
}
else
{
    <h2>It's Player @(_game.ActivePlayer)'s turn</h2>
    <p>@_info</p>
}

@for (int row = 0; row < 3; row++)
{
    <div class="row-div">
        @for (int col = 0; col < 3; col++)
        {
            int rowCopy = row;
            int colCopy = col;
            <div class="box-div" @onclick="_ => move(rowCopy, colCopy)">
                @(_game.Grid[row][col] == GridEntry.X ? "X " : 
                    (_game.Grid[row][col] == GridEntry.O ? "O " : "  "))
            </div>
        }
    </div>
}

<!--suppress CssUnresolvedCustomProperty -->
<style>
    :root {
        --box-size: 10vw;
    }

    .row-div {
        margin: 0;
        display: flex;
    }

    .box-div {
        width: var(--box-size);
        height: var(--box-size);
        border: 1px solid black;

        font-size: calc(var(--box-size) / 2);

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        user-select: none;
    }
</style>